div.sidebar {
    width: 250px;
    height: calc(100vh - 47px);
    padding-top: 47px;
    background: #1f2226;
    z-index: 99;
    position: fixed;
    box-shadow: 2px 0px 3px 0px rgba(44, 44, 44, 0.4);
}
div.photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid rgba(19, 162, 229, 0.7);
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
span.name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.6em;
    color: #fff;
    display: block;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}
.nav-bar {
    margin-top: 50px;
}
.nav-button {
    -webkit-transition: background 0.35s, color 0.35s;
    transition: background 0.35s, color 0.35s;
    width: 100%;
    padding: 8px 0px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.38);
    color: rgba(255, 255, 255, 0.74);
    background: rgba(18, 22, 28, 0.5);
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
}
.nav-button:hover {
    color: rgba(19, 162, 229, 0.81);
    -webkit-transition: background 0.35s, color 0.35s;
    transition: background 0.35s, color 0.35s;
    background: rgba(18, 22, 28, 0.9);
}
.nav-button a:hover {
    -webkit-transition: background 0.35s, color 0.35s;
    transition: background 0.35s, color 0.35s;
    color: rgba(19, 162, 229, 0.81);
}
.nav-button a {
    -webkit-transition: background 0.35s, color 0.35s;
    transition: background 0.35s, color 0.35s;
    color: rgba(255, 255, 255, 0.75);
}
.nav-button:first-child {} .nav-button.last {
    bottom: 1px solid rgba(0, 0, 0, 0.38);
}

.last:hover{
    cursor: pointer;
}
span.copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    opacity: 0.15;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
}
.profile {
    background-color: rgba(25, 28, 33, 0.68);
    box-shadow: inset 1px 1px 2px 0px #000;
    margin-top: 6px;
    padding: 5px 0px 15px;
    border: 1px solid #000;
}